html {
  font-size: 1em;
  line-height: 1.4;
  background-color: var(--background);
  color: var(--text);
  font-family: inter,sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid yellow;*/
}

:root{
  --background: #131317;
  --text: #d0d0d0;
  --background-active: #343435;
  --negative: #FF5656;
  --background-2: #424098;
  --wrapper-gap: 10rem;

  --gap-1: 24px;
  --gap-6: 6px;


  --padding-24: 24px;
}


h1{
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 125%; /* 60px */
  /*letter-spacing: 4px;*/
  padding: 0;
  margin: 0 0 0.2rem 0;
}
h2{
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: 0.48px;
}

a{
  margin: 0;
  padding: 0;
}

p{
  padding: 0;
  margin: 0 0 0.2rem 0;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.27px;
}


span{
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.27px;
}

.gap-1{
  gap: var(--gap-1);
}

.gap-6{
  gap: var(--gap-6);
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--wrapper-gap);
}

header{

  z-index: 9999;
  top: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: rgba(28, 28, 30, 0.34);

  backdrop-filter: blur(24px);
  padding: 0 1rem;
}

section{
  /*padding-top: var(--wrapper-gap);*/
  /*padding-bottom: var(--wrapper-gap);*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
}
.full-screen{
  width: 100%;

  min-height: 100vh;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.start{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.chat{
  width: 100%;
  max-width: 320px;
  min-width: fit-content;
}

.chat span{
  padding: 12px;
  border-radius: 12px;
  background-color: var(--background-active);
}

.chat span:last-child{
  background-color: var(--background-2);
}

.chive-container{
  width: 100%;

}

img{
  width: 100%;
  height: auto;
  max-width: 400px;
}

.achive{
  display: flex;
  flex-direction: row;
  gap: 15px;
  /*min-width: 337px;*/
  padding: 12px 9px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #3E4857;
  background: #20202F;
}
.achive div span{
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  line-height: 100%; /* 12px */
  letter-spacing: 0.18px;
}

.achive-img{
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 52.344px;
  border: 1px solid #434364;

  background: #111214;
}
.plan-selected{
  background: var(--background-2);
  /*box-shadow: 1px 21px 33px 0 rgba(54, 61, 214, 0.25);*/
}

.plan-default{
  background: var(--background-active);
}


.plan{
  border-radius: 1rem;
  display: flex;
  /*width: 264px;*/
  height: 422px;
  min-width: 264px;
  /*max-width: 300px;*/
  min-height: 422px;



  /*max-height: var(--plans-hight, 422px);*/
  padding: 18px 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /*border-radius: var(--Border-radius-12, 12px);*/
  /*border: 1px solid #AFB3FF;*/
  cursor: pointer;
}

.plan:hover{
  animation-duration: 1s;
  animation-name: plan;
}

/*@keyframes plan {*/
/*  from {*/
/*    border: 2px solid #3D3DC0; linear-gradient(90deg, #0070ff 0%, rgba(217, 217, 217, 0.00) 100%);*/
/*  }*/

/*  to {*/
/*    border: 2px solid #3D3DC0; linear-gradient(90deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);*/
/*  }*/
/*}*/


.Btw{
  justify-content: space-between;
}

.warning{
  color: var(--negative);
  padding: var(--padding-24);
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
  background-color: #1E1C1D;
  border-radius: 1rem;
}

#welcome{
  background-image: url("../img/map-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 2rem;
  box-shadow: 0px 4px 24px 0px #5721E1;
}

#achive{
  background-image: url("../img/pa-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#support{
  background-image: url("../img/orcale-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.button{
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: fit-content;
  max-height: fit-content;
  font-weight: 600;
  letter-spacing: 0.27px;
  /*height: 40px;*/
  margin: 0;
}

.button-rim{
  border: 2px solid #3D3DC0;
  background-color: transparent;
  color: #3D3DC0;
}

.button-rim:hover{
  background-color: #3D3DC0;
  color: #ffffff;
}

.button-normal{
  background-color: #3D3DC0;
  color: white;
}

.button-normal:hover{
  background-color: #5252d5;
  color: white;
}

.button-rounded{
  border-radius: 28px;
  background: #5C58FF;
  color: white;
  display: flex;
  padding: 12px 21px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  text-decoration: none;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  letter-spacing: 0.27px;
}

.button-rounded:hover{
  border-radius: 28px;
  background: #7a76ff;
  color: white;
}

.list-end{
  flex: none;
  bottom: 0;
  right: 0;
  height: 100px;
  /*position:relative;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: linear-gradient(180deg, rgba(19, 19, 23, 0.00) 0%, #131317 40.98%);
}

.red-sircle{
  z-index: -1000;
  /*z-index: 1000;*/
  background-color: #E7A037;
  position: absolute;

  right: 10px;

  top: 894px;
  filter: blur(141px);
  width: 165px;
  height: 165px;
}

.blue-sircle{
  z-index: -1000;
  width: 461px;
  height: 461px;
  position: absolute;
  left: -20px;
  top: 1834px;
  border-radius: 461px;
  background: rgba(40, 84, 237, 0.30);
  filter: blur(141px);
}

.brown-sircle{
  right: -100px;
  top: 0;
  border-radius: 461px;
  width: 461px;
  height: 461px;
  flex-shrink: 0;
  background-color: #9A2F2F;
  position: absolute;

  filter: blur(141px);
}

.logo{
  width: 49px;
  height: auto;
}

.half-block{
  width: 50%;
  max-width: 500px;
  /*min-width: 200px;*/
}
.text-center{
  text-align: center;
}

.grid-column{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 1rem;
}

.main-button{
  text-decoration: none;
  font-weight: 600;
  color: white;
  border-radius: 28px;
  border: 1px solid #ABA9FF;

  background: linear-gradient(265deg, rgba(255, 255, 255, 0.00) 8.27%, rgba(255, 255, 255, 0.49) 11.65%, rgba(255, 255, 255, 0.45) 44.25%, rgba(92, 88, 255, 0.00) 78.26%), #5C58FF;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 12px 21px;
  align-items: center;
  gap: 8px;
}

.padding{
  padding: 2rem 0;
}

.achive-container{
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, auto));*/
  /*grid-template-columns: repeat(auto-fill, 1fr);*/
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 0.5rem;
  width: 100%;
}


.plan-container{
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, auto));*/
  /*grid-template-columns: repeat(auto-fill, 1fr);*/
  /*justify-content: center;*/
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 0.5rem;
  width: 100%;
}
